%% Must include path to Riak libraries
{riak_lib, "/Users/jtuple/basho/riak-1.0/deps"}.

%% Can run against a given ringfile, or against a running claimant node
%% from which the current ring is fetched.

%%{ringfile, ""}.
{claimant, 'dev1@127.0.0.1'}.

%% A list of join/leave commands. This is a list of lists. Each sublist
%% is run atomically against the ring before a removal/rebalance is triggered.
%%   {join, X}          :: Simulate adding X new nodes to the cluster
%%   {join, node_name}  :: Simulate adding a given node to the cluster
%%   {leave, node_name} :: Simulate having a node leave the cluster

# {cmds, [[{join, 10}],
#         [{leave,'dev1@127.0.0.1'},
#          {leave,'dev2@127.0.0.1'}],
#         [{join, 'dev1@127.0.0.1'},
#          {leave, 'sim1@basho.com'}],
#         [{join, 'sim1@basho.com'}]
#        ]}.
